<div class="row ">
    <div class="col-xs">
    <div class="box" class='contacto'>
        <div>Engrane Digital, S de RL de CV</div>
        <div>Fontaneros 779</div>
        <div>Col La Paz/div>
        <div>Guadalajara Jalisco México</div>
        
    </div>
</div>
    <div class="col-xs">
        <div class="box">
     
                <form class='contacto'>
                <div><label>Tu Nombre:</label><input type='text' value=''></div>
                <div><label>Tu Email:</label><input type='text' value=''></div>
                <div><label>Asunto:</label><input type='text' value=''></div>
                <div><label>Mensaje:</label><textarea rows='6'></textarea></div>
                <div><input type='submit' value='Envia Mensaje'></div>

            </form>
        </div>
    </div>
</div>
