<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <input type="text" placeholder="Name" [(ngModel)]="name" />
  <button (click)="addName(name)">Add Name</button>

  <ng-container *ngIf="items.length > 0; else elseTemplate">
    <li style="list-style: none;">
      <ul *ngFor="let name of items, index as i">
        Position: {{ i }} Name: {{name}}
        <button (click)="deleteName(i)">Delete Name</button>
      </ul>
    </li>
  </ng-container>
  <ng-template #elseTemplate>
    <p>Names array is empty</p>
  </ng-template>

  <div *ngFor="let product of products">
    <h3>{{ product.title }}</h3>
    <img [src]="product.image" alt="Product Image" width="200">
    <p>{{ product.price }}</p>
  </div>

  <div [ngSwitch]="name">
    <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
    <p *ngSwitchCase="'julian'">Este es julian</p>
    <p *ngSwitchCase="'camilo'">Este es camilo</p>
    <p *ngSwitchCase="'arturo'">Este es arturo</p>
    <p *ngSwitchDefault>No hay match</p>
  </div>
</div>
