<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)]="power">
  {{ power | exponential }}
<div class ="product-grid"  >
    <app-product *ngFor="let product of products"
                  (productClicked)="clickProduct($event)" 
                  [product] = "product"></app-product>
</div>


  <input type="text" placeholder="Name" [(ngModel)]="name" />
  <button (click)="addName(name)">Add Name</button>

  <ng-container *ngIf="items.length > 0; else elseTemplate">
    <li style="list-style: none;">
      <ul *ngFor="let name of items, index as i">
        Position: {{ i }} Name: {{name}}
        <button (click)="deleteName(i)">Delete Name</button>
      </ul>
    </li>
  </ng-container>
  <ng-template #elseTemplate>
    <p>Names array is empty</p>
  </ng-template>



  <div [ngSwitch]="name">
    <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
    <p *ngSwitchCase="'julian'">Este es julian</p>
    <p *ngSwitchCase="'camilo'">Este es camilo</p>
    <p *ngSwitchCase="'arturo'">Este es arturo</p>
    <p *ngSwitchDefault>No hay match</p>
  </div>

